keys/hot-*
node_modules/
/.envrc.local
/.direnv
/treefmt.toml
/.gcroots
/cc-public
workbench
result*
*.cert
*.txbody
*.txsigned
*.proposal
*.vote
*.action
*.txt
state-*
*.out
*.pid
*.socket
*.cbor
*.json
*.mnemonic
